.app_layout {
	width:100%;
	height:auto;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}

.app_full_center {
	width:100%;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.app_header {
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
}

.app_header_row {
	width:100%;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-end;
}

.app_body {
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.app_body_content {
	width:90%;
	max-width:1280px;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}

@media (max-width:800px) {
	.app_body_content {
		width:100%;
	}

	.app_header_row {
		flex-direction:column;
	}
}