html {
	box-sizing:border-box;
	font-size:16px;
	color:#414141;
	font-family:'Arial', sans-serif;
}

*, *::before, *::after {
	box-sizing:inherit;
	margin:0;
	padding:0;
}

body {
	width:100%;
	height:100vh;
}

#root, .app_container {
	width:100%;
	height:100%;
	background-color:#fbfbfb;
}

.app_root {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
	background: linear-gradient(to top, #d66d75, #e29587);
}