html {
	box-sizing:border-box;
	font-size:14px;
	color:#414141;
	font-family:'Arial', sans-serif;
}

*, *::before, *::after {
	box-sizing:inherit;
	margin:0;
	padding:0;
}

body {
	width:100%;
	height:100vh;
	background:linear-gradient(#e96443, #904e95);
	background-repeat:no-repeat;
	background-attachment:fixed;
}

input, input:focus, input:active, select, select:focus, select:active, button, button:focus, button:active {
	outline:none;
}

a {
	text-decoration:none;
}

#root, .app_container {
	width:100%;
}

.app_root {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}

.flashcardly_input {
	border:none;
	background:none;
	background:#fbfbfb;
	box-shadow:0px 1px 3px 0px rgba(0,0,0,0.4);
	border-radius:3px;
	padding:6px 12px;
	color:#2e2e2e;
	font-size:0.9rem;
}

.flashcardly_input:focus {
	box-shadow:0px 1px 3px 0px rgba(93,155,155,1);
}

.flashcardly_btn_container {
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.flashcardly_btn {
	border:none;
	background:none;
	border:1px solid rgba(0,0,0,0.1);
	padding:5px 12px;
	border-radius:3px;
	font-size:0.7rem;
	font-weight:600;
	cursor:pointer;
	transition:border-radius 200ms linear;
}

.flashcardly_btn:active {
	box-shadow:0px 0px 1px 1px #0099cc;
}

.flashcardly_btn--common {
	color:#fff;
	background:linear-gradient(#F15F79, #B24592);
}

.flashcardly_btn--common:hover {
	background:linear-gradient(#B24592, #F15F79);
}

.flashcardly_btn--light-blue {
	color:#fff;
	background:linear-gradient(#6dd5ed, #2193b0);
}

.flashcardly_btn--light-blue:hover {
	background:linear-gradient(#2193b0, #6dd5ed);
}

.flashcardly_btn--white {
	color:rgba(0,0,0,0.9);
	background:linear-gradient(#f6f6f6, #dedede);
}

.flashcardly_btn--white:hover {
	background:linear-gradient(#dedede, #f6f6f6);	
}

.flashcardly_url_btn {
	background:none;
	border:none;
	color:#0099cc;
	cursor:pointer;
	font-size:0.8rem;
}

.flashcardly_url_btn:hover {
	color:#006699;
	text-decoration:underline;	
}

.flashcardly_toggle_btn {
	display:inline-block;
	width:44px;
	height:26px;
	position:relative;
}

.flashcardly_toggle_btn > input {
	width:0px;
	height:0px;
	opacity:0;
}

.flashcardly_toggle_btn > span {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:#b8b8b8;
	cursor:pointer;
	border-radius:100px;
	display:flex;
	flex-direction:row;
	align-items:center;
	border:1px solid rgba(0,0,0,0.03);
	transition-duration:200ms;
}

.flashcardly_toggle_btn > span > span {
	display:inline-block;
	position:absolute;
	height:18px;
	background-color:#fff;
	width:18px;
	border-radius:50%;
	left:4px;
	transition-duration:200ms;
}

.flashcardly_toggle_btn > input:checked + span {
	background-color:#F15F79;
}

.flashcardly_toggle_btn > input:checked + span > span {
	left:21px;
}

.flashcardly_dialog_bg {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,.4);
	z-index:20;
	display:flex;
	align-items:center;
	justify-content:center;
}

.flashcardly_dialog {
	width:90%;
	min-width:300px;
	max-width:500px;
	background-color:#fbfbfb;
	border-radius:2px;
	padding-bottom:6px;
	box-shadow:0px 2px 5px 0px rgba(0,0,0,.3);
	display:flex;
	flex-direction:column;
	position:relative;
}

.flashcardly_dialog_header {
	width:100%;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	padding:9px 12px 9px 12px;
	border-bottom:1px solid rgba(0,0,0,0.08);
	margin-bottom:12px;
	background-color:rgba(0,0,0,0.05);
}

.flashcardly_dialog_title {
	
}

.flashcardly_dialog_title > h3 {
	font-size:0.8rem;
	font-weight:600;
	color:#2e2e2e;
}

.flashcardly_dialog_close {
	font-size:1rem;
	opacity:0.5;
	cursor:pointer;
	transition:opacity 200ms linear;
}

.flashcardly_dialog_close:hover {
	opacity:0.8;
}

.flashcardly_dialog_body {
	width:100%;
	display:flex;
	flex-direction:column;
}

@media (min-width: 800px) {
	html {
		font-size:16px;
	}

	.flashcardly_dialog {
		width:500px;
	}
}

@media (min-width:1920px) {
	html {
		font-size:18px;
	}
}