.single_flashcard_block {
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
	background-color:#fbfbfb;
	border-radius:3px;
	border:1px solid rgba(0,0,0,0.05);
	box-shadow:0px 2px 5px 0px rgba(0,0,0,0.3);
}

.single_flashcard_header {
	width:100%;
	padding:12px 16px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	border-bottom:1px groove rgba(0,0,0,0.1);
}

.single_flashcard_header_title {

}

.flashcard_header_title_direct > h3 {
	color:#4c4c4c;
	font-weight:600;
	font-size:1rem;
}

.flashcard_header_title_user {

}

.flashcard_header_title_user > p {
	
}

.flashcard_header_title_user > p > span, .flashcard_header_title_user > p > time {
	color:#666666;
	font-size:0.75rem;	
}

.flashcard_header_title_user > p > span {
	margin:0px 3px;
}

.flashcard_header_title_user > p > span:first-child {
	margin-left:0px;
}

.flashcard_header_title_user > p > a {
	font-size:0.75rem;
	color:#0099cc;
}

.flashcard_header_title_user > p > a:hover {
	text-decoration:underline;
	color:#006699;
}

.single_flashcard_options {
	display:flex;
	flex-direction:row;
}

.single_flashcard_options_item {
	font-size:1.25rem;
	cursor:pointer;
	padding:0px 2px;
	opacity:0.6;
	transition-duration:200ms;
	color:#2e2e2e;
}

.single_flashcard_options_item:hover {
	opacity:0.8;
}

.single_flashcard_body {
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}