.single_flashcard_preview_wrapper {
	width:25%;
	height:144px;
	padding:6px;
}

.single_flashcard_preview {
	width:100%;
	height:100%;
	background:none;
	border:1px solid rgba(0,0,0,0.25);
	box-shadow:0px 1px 4px 0px rgba(0,0,0,0.1);
	border-radius:3px;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}

.single_flashcard_preview_title {
	width:100%;
	background:linear-gradient(#e96443, #904e95);
	border-top-right-radius:2px;
	border-top-left-radius:2px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.single_flashcard_preview_title > h3 {
	color:#fbfbfb;
	font-size:0.8rem;
	padding:5px;
}

.flashcard_preview_table {
	width:100%;
}

.flashcard_preview_table_header {
	width:100%;
	background-image:linear-gradient(#0099cc, #006699);
	display:flex;
	flex-direction:row;
	border-bottom:1px solid rgba(0,0,0,0.4);
}

.flashcard_preview_table_header > .flashcard_preview_table_field {
	padding:8px 9px;
	width:50%;
}

.flashcard_preview_table_header > .flashcard_preview_table_field > span {
	color:#fbfbfb;
	font-weight:600;
	font-size:0.85rem;
}

.flashcard_preview_table_desc {
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.flashcard_preview_table_desc > p {
	font-size:0.75rem;
	padding:8px;
	transition:color 200ms linear;
	color:rgba(0,0,0,0.4);
}

.flashcard_preview_table_desc > p:hover {
	color:rgba(0,0,0,0.7);
}

.flashcard_preview_btn {
	width:100%;
	margin-bottom:12px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.flashcard_preview_btn > button {

}

@media (max-width:1024px) {
	.single_flashcard_preview_wrapper {
		width:100%;
	}

	.flashcard_preview_btn {
		margin-bottom:12px;
	}
}

@media (max-width:800px) {
	.single_flashcard_preview_wrapper {
		height:130px;
	}
}