.game_window {
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.standard_game_window {
	width:100%;
	margin-bottom:10px;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
	border-radius:3px;
	box-shadow:0px 2px 5px 0px rgba(0,0,0,0.3);
}

.standard_game_window_black {
	background-color:#2e2e2e;
	color:#fbfbfb;
}

.standard_game_window_white {
	background-color:#fbfbfb;
	color:#2e2e2e;
}

.standard_game_window.standard_game_window_fullscreen {
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin-bottom:0px;
	border-radius:0px;
}

.standard_game_window.standard_game_window_fullscreen > .standard_game_window_header {

}

.standard_game_window.standard_game_window_fullscreen > .standard_game_window_body {
	height:100%;
}

.standard_game_window_header {
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	width:100%;
	padding:12px 16px 0px 16px;
}

.standard_game_window_title {
	display:flex;
	flex-direction:column;
}

.standard_game_window_title_url > span {
	font-size:0.85rem;
	font-weight:600;
	
}

.standard_game_window_title_url > a {
	font-size:0.85rem;
	margin-left:1px;
	color:#0099cc;
}

.standard_game_window_title_url > a:hover {
	color:#006699;
}

.standard_game_window_title > p {
	
	font-size:0.8rem;
}

.standard_game_window_num > span {
	font-size:1rem;
	font-weight:600;
}

.standard_game_window_menu {
	display:flex;
	flex-direction:row;
	align-items:center;
}

.standard_game_window_menu > * {
	font-size:1.4rem;
	cursor:pointer;
	opacity:0.7;
	transition:opacity 150ms linear;
	margin:0px 3px;
}

.standard_game_window_menu > *:hover {
	opacity:0.95;
}

.standard_game_window_body {
	width:100%;
	padding:12px 16px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
}