.searcher_bar {
	position:relative;
	display:flex;
	flex-direction:row;
	align-items:flex-end;
}

.searcher_bar_btn_open {
	transition-duration:200ms;
	opacity:0.6;
}

.searcher_bar_btn_open:hover {
	opacity:0.8;
}

.searcher_bar_btn_open:active {
	opacity:1;
}

.searcher_bar_btn_open.searcher_bar_btn_open--active {
	opacity:1;
}

.searcher_bar_btn_open > button {
	margin-top:3px;
	background:none;
	border:none;
	cursor:pointer;
	color:#fff;
	display:flex;
	flex-direction:row;
}

.searcher_bar_btn_open > button > i {
	font-size:1.4rem;
}

.searcher_bar_window {
	position:absolute;
	top:100%;
	right:0px;
	max-width:360px;
	width:100vw;
	min-width:150px;
	margin-right:-4px;
	z-index:999;
}

.searcher_bar_window_container {
	width:100%;
	background-color:#fbfbfb;
	box-shadow:0px 1px 5px 0px rgba(0,0,0,0.4);
	border-radius:3px;
}

.searcher_bar_window_type {
	width:100%;
}

.searcher_form {
	width:100%;
	position:relative;
	display:flex;
	flex-direction:row;
	align-items:center;
}

.searcher_input {
	width:100%;
}

.searcher_input > label {
	position:absolute;
	color:#2e2e2e;
	font-weight:400;
	font-size:0.85rem;
	opacity:0.2;
	top:10px;
	left:6px;
	cursor:auto;
}

.searcher_input > input {
	width:100%;
	border:none;
	background:none;
	color:#4c4c4c;
	padding:10px 6px;
	font-size:0.85rem;
	font-family:"Arial", sans-serif;
	transition-duration:400ms;
}

.searcher_input > input:disabled {
	opacity:0.4;
}

.searcher_input > input:focus + label {
	opacity:0.3;
}

.searcher_submit {
	padding:0px 5px;
}

.searcher_close {
	color:rgba(0,0,0,0.4);
	margin-right:8px;
	margin-left:3px;
	margin-top:6px;
	font-size:1.5rem;
	display:none;
	transition-duration:200ms;
}

.searcher_close:hover {
	color:rgba(0,0,0,0.7);
}

@media (max-width:600px) {
	.searcher_bar_window {
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		max-width:100%;
		width:100vw;
		z-index:999;
	}

	.searcher_bar_window > .nav_drop_down_menu_traingle_wrapper {
		display:none;
	}

	.searcher_bar_window_container {
		height:100%;
		border-radius:0px;
	}

	.searcher_bar_window_type {
		border-bottom:1px solid rgba(0,0,0,0.08);
	}

	.searcher_close {
		display:inline-block;
	}

	.searcher_input > label, .searcher_input > input {
		font-size:1rem;
	}

	.searcher_input > label {
		top:18px;
	}

	.searcher_input > input {
		padding:18px 6px;
	}
}