.app_user_bar {
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
	padding:15px 0px 0px 15px;
}

.app_user_bar_av {
	margin-right:7px;
}

.app_user_bar_av > img {
	border-radius:100%;
	width:45px;
	height:45px;
	cursor:pointer;
	transition:transform 200ms linear;
}

.app_user_bar_av > img:hover {
	transform:scale(0.9);
}

.app_user_bar_av > img:active {
	transform:scale(0.3);
}

.app_user_bar_basic_info {
	font-weight:400;
}

.user_bar_basic_info--fullname {
	font-size:1rem;
	font-weight:600;
	color:#fbfbfb;
}

.user_bar_basic_info--displayname {
	font-size:0.85rem;
	color:rgba(255,255,255,0.85);
}

@media (max-width: 800px) {
	.app_user_bar {
		width:100%;
	}
}