.app_user_bar {
	height:100%;
	width:100%;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
}

.app_user_bar_av {
	margin-right:7px;
	max-width:30px;
	max-height:30px;
	min-width:24px;
	min-height:24px;
}

.app_user_bar_av > img {
	border-radius:100%;
	width:100%;
	height:100%;
	cursor:pointer;
	transition:transform 200ms linear;
}

.app_user_bar_av > img:hover {
	transform:scale(0.9);
}

.app_user_bar_av > img:active {
	transform:scale(0.6);
}

.app_user_bar_basic_info {
	font-weight:400;
}

.user_bar_basic_info--fullname {
	font-size:0.85rem;
	font-weight:600;
	color:#fbfbfb;
	transition-duration:200ms;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.user_bar_basic_info--fullname:hover {
	
}

@media (max-width: 800px) {
	.app_user_bar {
		width:100%;
	}
}