.app_user_bar {
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
	padding:0px 0px 0px 0px;
}

.app_user_bar_av {
	position:relative;
	margin-right:7px;
}

.app_user_bar_av > img {
	border-radius:100%;
	margin-top:3px;
	width:32px;
	height:32px;
	cursor:pointer;
	transition:transform 200ms linear;
}

.app_user_bar_av > img:hover {
	transform:scale(0.9);
}

.app_user_bar_av > img:active {
	transform:scale(0.3);
}

.app_user_bar_basic_info {
	font-weight:400;
}

.user_bar_basic_info--fullname {
	font-size:0.85rem;
	font-weight:600;
	color:#fbfbfb;
	transition-duration:200ms;
}

.user_bar_basic_info--fullname:hover {
	transform:scale(0.95);
}

@media (max-width: 800px) {
	.app_user_bar {
		width:100%;
	}
}