.privacy_wrapper {
	width:100%;
	display:flex;
	justify-content:center;
}

.privacy_wrapper > div {
	width:94%;
	max-width:1600px;
}

.privacy_body {
	padding:6px 22px 6px 22px;
}

.privacy_body > h2 {
	font-weight:600;
	font-size:1.1rem;
	margin:6px 0px;
}

.privacy_body > h3 {
	font-weight:600;
	font-size:0.95rem;
	margin:6px 0px;
}

.privacy_body > h4 {
	font-weight:600;
	font-size:0.85rem;
	margin:6px 0px;
}

.privacy_body > p {
	margin:6px 0px;
	font-size:0.85rem;
}

.privacy_body > ul {
	margin-left:18px;
	font-size:0.85rem;
}