.game_window {
	width:100%;
}

.standard_game_window {
	width:100%;
	margin-bottom:10px;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
	border-radius:3px;
	box-shadow:0px 2px 5px 0px rgba(0,0,0,0.3);
}

.standard_game_window_black {
	background-color:#2e2e2e;
	color:#fbfbfb;
}

.standard_game_window_white {
	background-color:#fbfbfb;
	color:#2e2e2e;
}

.standard_game_window.standard_game_window_fullscreen {
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin-bottom:0px;
	border-radius:0px;
}

.standard_game_window.standard_game_window_fullscreen > .standard_game_window_header {

}

.standard_game_window.standard_game_window_fullscreen > .standard_game_window_body {
	height:100%;
}

.standard_game_window_header {
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	width:100%;
	padding:12px 16px 0px 16px;
}

.standard_game_window_title {
	display:flex;
	flex-direction:column;
}

.standard_game_window_title_url > span {
	font-size:0.85rem;
	font-weight:600;
	
}

.standard_game_window_title_url > a {
	font-size:0.85rem;
	margin-left:1px;
	color:#0099cc;
}

.standard_game_window_title_url > a:hover {
	color:#006699;
}

.standard_game_window_title > p {
	
	font-size:0.8rem;
}

.standard_game_window_num > span {
	font-size:1rem;
	font-weight:600;
}

.standard_game_window_menu {
	display:flex;
	flex-direction:row;
	align-items:center;
}

.standard_game_window_menu > * {
	font-size:1.4rem;
	cursor:pointer;
	opacity:0.7;
	transition:opacity 150ms linear;
	margin:0px 3px;
}

.standard_game_window_menu > *:hover {
	opacity:0.95;
}

.standard_game_window_body {
	width:100%;
	padding:12px 16px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
}

.standard_game_window_body_arrow {
	font-size:3.5rem;
	padding:5px;
	cursor:pointer;
	opacity:0.7;
	transition:opacity 150ms linear;
}

.standard_game_window_body_arrow:hover {
	opacity:0.9;
}

.standard_game_single_word {
	width:100%;
	height:100%;
	margin:80px 0px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.standard_game_single_word_content {
	width:90%;
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:center;
	min-width:200px;
	display:flex;
	flex-direction:row;
}

.single_word_content_text > span {
	font-size:3rem;
	font-weight:600;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;	
}

.single_word_content_options {
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-left:3px;
}

.single_word_content_options > * {
	cursor:pointer;
	margin:0px 3px;
}

.single_word_content_turn {
	color:#3399cc;
	font-size:2rem;
	transition:transform 150ms linear;
}

.single_word_content_turn:hover {
	transform:scale(1.1);
}

.single_word_content_turn:active {
	transform:scale(0.5);
}

.single_word_content_check {
	font-size:1.8rem;
	transition:opacity 150ms linear;
}

.single_word_content_check.single_word_content_check_checked {
	color:#66cc33;
}

.single_word_content_check.single_word_content_check_notchecked {	
	opacity:0.6;
}

.single_word_content_check.single_word_content_check_notchecked:hover {
	opacity:0.9;
}

@media (max-width: 800px) {
	.standard_game_single_word {
		margin:40px 0px;
	}

	.standard_game_window {
		border-radius:0px;
  }
}